*{ padding:0;margin:0; }

a{text-decoration:none;}
h3{font:lighter 30px Verdana; color:#666;padding:20px;}


header{ width:100%;height:50px;background:#303030;box-shadow:1px 1px 5px #000;  }
header section{width:960px;margin:auto;}
header section h1{ font:bold 30px Verdana; text-align:right; color:#FFFFFF; padding:5px; background-color:#1F1F1F; }
header section #menu{width:950px; float:right; margin-top: -30px ; }
header section #menu a{background:#FFFFFF; padding:10px;color:#666;font:16px Verdana; transition: border .7s, color .7s;}
header section #menu a:hover{color:#000;}

#inicio{width:100%;height:500px;/*background:url(../imagenes/LigaJusticia.jpg) no-repeat center;*/
 background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; }
#inicio section{padding-top: 100px;}
#inicio div {height:450px; width:100%;}
#inicio section h2{ font:bold 40px Verdana; color:#fff; padding:20px; }
#inicio section p{ font:lighter 20px Verdana; color:#fff;margin-bottom:30px;  }
#inicio section a{font:17px Verdana; text-decoration:none;color:#fff; background:#589AA2; padding: 10px 60px 10px 60px; position: relative;z-index: 2;}
#inicio section a:hover{background:#ED644C;}

#articulos{width:100%;background:#303030;}
#articulos section{width:960px;}
#articulos section:hover article{opacity:.5;}
#articulos section h3{color: #FFFFFF;}
#articulos section article{display:inline-block; width:415px; height:280px;border: 3px solid #FFFFFF;margin: 5px;}
#articulos section article:hover{opacity:1;}
#articulos section article img{width:100%;height:230px;}
#articulos section article a{color: #6666E6; padding:5px;float:left;font:14px Verdana;}

#servicios{width:100%;background:#666;padding:30px 0px 30px 0px;}
#servicios h3{color:#fff;}
#servicios section{width:960px;}
#servicios section a{width:40%;display:inline-block;color:#fff;border: 4px solid #fff; font:22px Verdana;margin:2px; padding:40px;}
#servicios section a:hover{background:#fff;color:#666;}
#servicios section a span{font-size:40px; float:left;}

#contacto{width:100%;min-height:300px;background:url(../imagenes/6.jpg) no-repeat center;
 background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; padding:30px 0px 30px 0px;}
#contacto section form{width:960px;background:#fff; padding:20px 0px 20px 0px;}
#contacto section form table{width:90%;height:180px;font:20px Verdana;margin-bottom:5px;}
#contacto section form input{width:60%;height:40px;font:20px Verdana;border:2px solid #666;margin-bottom:0px;}

footer{width:100%;background:#666;}
footer p{color:#fff;text-align:center;padding:30px; font:lighter 14px Verdana;}

#servicios section a, #articulos section article img, #articulos section, #articulos section article, header section #menu a, header section #menu, #inicio section a, #inicio section h2, #inicio section p{transition: 
	border .7s, color .7s, width .7s, background .7s, margin .7s, font .7s, opacity .7s, height .7s;}
	
	
	
	

.cb-slideshow:{ 
    content: '';
    background: transparent url(../imagenes-fondo/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
    width:100%;
	height:508.41px;
    position: absolute;
    top: 43px;
    left: 0px;
    color: transparent;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 1;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}


.cb-slideshow li div { 
    z-index: 0;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../imagenes-fondo/accion.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../imagenes-fondo/ciencia_ficcion.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../imagenes-fondo/LigaJusticia.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
	background:url(../imagenes-fondo/terror.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}